@font-face {
    font-family: 'sunset-gothic-bold-pro';
    src: url('../fonts/sunset-gothic-bold-pro.eot');
    src: url('../fonts/sunset-gothic-bold-pro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sunset-gothic-bold-pro.woff2') format('woff2'),
        url('../fonts/sunset-gothic-bold-pro.woff') format('woff'),
        url('../fonts/sunset-gothic-bold-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'garamond-regular';
    src: url('../fonts/garamond-premier-pro-regular') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@import "utilities/mystyles";

@import "modified/overwrite";
@import "modified/slider";



@import "macro/global";

@import "macro/home";
@import "macro/responsive";