<div class="heroSection section-1">
  <div class="bg-green"></div>
  <div class="container">
    <div class="heroSection-top">
      <div class="heroSection-top-title">CONNECT</div>
      <div class="heroSection-article">
        <div class="row">
          <div class="col-md-6">
            <figure>
              <img src="./images/sheapromotion.png" class="img-fluid" alt="" />
            </figure>
          </div>
          <div class="col-md-6">
            <div class="heroSection-details">
              <h2 class="heroSection-details-title">
                A community of people lorem ipsum dolor sit amet
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor nnnn incididunt ut labore et dolore magna aliqua.
              </p>
              <a href="" class="section-btn"
                >Find members <img src="./images/arrow.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- divider -->
    <div class="divider divider-1"></div>

    <!-- members section-->
    <section class="sliderSection sliderSection-1">
      <h4 class="sliderSection-heading">Our Members</h4>

      <div class="sliderSection-wrapper sliderWrapper">
        <a
          href=""
          class="sliderCard d-flex flex-column justify-content-between"
        >
          <div class="sliderCard-top">
            <h5 class="sliderCard-title">PRODUCER NATIONAL ASSOCIATIONS</h5>
            <p class="sliderCard-subtitle">123 members</p>
          </div>
          <div class="sliderCard-bottom">
            <img src="../images/mem1.png" alt="" class="img-fluid" />
          </div>
        </a>
        <a
          href=""
          class="sliderCard d-flex flex-column justify-content-between"
        >
          <div class="sliderCard-top">
            <h5 class="sliderCard-title">Suppliers</h5>
            <p class="sliderCard-subtitle">123 members</p>
          </div>
          <div class="sliderCard-bottom">
            <img src="../images/mem2.png" alt="" class="img-fluid" />
          </div>
        </a>
        <a
          href=""
          class="sliderCard d-flex flex-column justify-content-between"
        >
          <div class="sliderCard-top">
            <h5 class="sliderCard-title">brands & Retailers</h5>
            <p class="sliderCard-subtitle">123 members</p>
          </div>
          <div class="sliderCard-bottom">
            <img src="../images/mem3.png" alt="" class="img-fluid" />
          </div>
        </a>
        <a
          href=""
          class="sliderCard d-flex flex-column justify-content-between"
        >
          <div class="sliderCard-top">
            <h5 class="sliderCard-title">PRODUCER NATIONAL ASSOCIATIONS</h5>
            <p class="sliderCard-subtitle">123 members</p>
          </div>
          <div class="sliderCard-bottom">
            <img src="../images/mem1.png" alt="" class="img-fluid" />
          </div>
        </a>
        <a
          href=""
          class="sliderCard d-flex flex-column justify-content-between"
        >
          <div class="sliderCard-top">
            <h5 class="sliderCard-title">PRODUCER NATIONAL ASSOCIATIONS</h5>
            <p class="sliderCard-subtitle">123 members</p>
          </div>
          <div class="sliderCard-bottom">
            <img src="../images/mem2.png" alt="" class="img-fluid" />
          </div>
        </a>
      </div>
    </section>
  </div>
</div>

<!-- learn section -->
<div class="heroSection learnSection section-2">
  <div class="bg-pink"></div>
  <div class="container">
    <div class="heroSection-top">
      <div class="heroSection-top-title">LEARN</div>
      <div class="heroSection-article">
        <div class="row">
          <div class="col-md-6">
            <div class="heroSection-details">
              <h2 class="heroSection-details-title">
                The go-to place for Shea resources lorem ipsum dolor sit amet
              </h2>
              <p>
                A one sentence statement that expands on this resource. Concise
                and digestible.
              </p>
              <a href="" class="section-btn "
                >Find resources <img src="./images/arrow.svg" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-6">
            <figure>
              <img src="./images/image.png" class="img-fluid" alt="" />
            </figure>
          </div>
        </div>
      </div>
    </div>

    <!-- divider -->
    <div class="divider divider-2"></div>

    <!-- members section -->
    <section class="sliderSection sliderSection-2">
      <h4 class="sliderSection-heading">Categories</h4>

      <div class="sliderSection-wrapper sliderWrapper">
        <a
          href=""
          class="sliderCard d-flex flex-column justify-content-between"
        >
          <div class="sliderCard-top">
            <h5 class="sliderCard-title">FOOD</h5>
            <p class="sliderCard-subtitle">123 resources</p>
          </div>
          <div class="sliderCard-bottom">
            <img src="../images/cat1.png" alt="" class="img-fluid" />
          </div>
        </a>
        <a
          href=""
          class="sliderCard d-flex flex-column justify-content-between"
        >
          <div class="sliderCard-top">
            <h5 class="sliderCard-title">Butter</h5>
            <p class="sliderCard-subtitle">123 resources</p>
          </div>
          <div class="sliderCard-bottom">
            <img src="../images/cat2.png" alt="" class="img-fluid" />
          </div>
        </a>
        <a
          href=""
          class="sliderCard d-flex flex-column justify-content-between"
        >
          <div class="sliderCard-top">
            <h5 class="sliderCard-title">cosmetics</h5>
            <p class="sliderCard-subtitle">123 resources</p>
          </div>
          <div class="sliderCard-bottom">
            <img src="../images/cat3.png" alt="" class="img-fluid" />
          </div>
        </a>
        <a
          href=""
          class="sliderCard d-flex flex-column justify-content-between"
        >
          <div class="sliderCard-top">
            <h5 class="sliderCard-title">FOOD</h5>
            <p class="sliderCard-subtitle">123 resources</p>
          </div>
          <div class="sliderCard-bottom">
            <img src="../images/cat1.png" alt="" class="img-fluid" />
          </div>
        </a>
      </div>
    </section>
    <!-- divider -->
    <div class="divider divider-3"></div>

    <!-- resource section -->
    <section class="sliderSection sliderSection-3">
      <h4 class="sliderSection-heading">Featured resources</h4>

      <div class="sliderSection-wrapper sliderWrapper">
        <a href="" class="resourceCard">
          <figure class="resourceCard-img">
            <img src="../images/res2.png" class="img-fluid" alt="" />
          </figure>
          <div class="resourceCard-meta">
            <span class="resourceCard-meta-tag">industry</span>
            <span class="resourceCard-meta-duration">i day ago</span>
          </div>
          <p class="resourceCard-title">
            VP Bawumia launches Parkland Restoration Fund to protect shea
            parklands
          </p> </a
        ><a href="" class="resourceCard">
          <figure class="resourceCard-img">
            <img src="../images/res1.png" class="img-fluid" alt="" />
          </figure>
          <div class="resourceCard-meta">
            <span class="resourceCard-meta-tag">industry</span>
            <span class="resourceCard-meta-duration">i day ago</span>
          </div>
          <p class="resourceCard-title">
            Newly Permitted Food Ingredients Create Largest Shea Market in the
            U.S. & Grow West African Exports
          </p>
        </a>
        <a href="" class="resourceCard">
          <figure class="resourceCard-img">
            <img src="../images/res1.png" class="img-fluid" alt="" />
          </figure>
          <div class="resourceCard-meta">
            <span class="resourceCard-meta-tag">industry</span>
            <span class="resourceCard-meta-duration">i day ago</span>
          </div>
          <p class="resourceCard-title">
            The Estée Lauder Companies Inc. joins the Global Shea Alliance
          </p>
        </a>
      </div>
    </section>
  </div>
</div>
